<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.oa.mapper.MdOaCompletedMapper">

    <resultMap type="com.cms.oa.domain.MdOaCompleted" id="MdOaCompletedResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="projectId" column="project_id"/>
        <result property="imgUrl" column="img_url"/>
        <result property="videoUrl" column="video_url"/>
        <result property="fileUrl" column="file_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="selectMdOaCompletedVo">
        select id,
               user_id,
               dept_id,
               project_id,
               img_url,
               video_url,
               file_url,
               create_time,
               update_time,
               is_delete
        from md_oa_completed
    </sql>

    <select id="selectMdOaCompletedList" parameterType="com.cms.oa.domain.MdOaCompleted"
            resultMap="MdOaCompletedResult">
        <include refid="selectMdOaCompletedVo"/>
        <where>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="projectId != null ">and project_id = #{projectId}</if>
        </where>
    </select>

    <select id="selectMdOaCompletedById" parameterType="Long" resultMap="MdOaCompletedResult">
        <include refid="selectMdOaCompletedVo"/>
        where id = #{id}
    </select>
    <select id="selectMdOaCompleted" resultMap="MdOaCompletedResult">
        select id,
        user_id,
        dept_id,
        project_id,
        img_url,
        video_url,
        file_url,
        create_time,
        update_time,
        is_delete
        from md_oa_completed
        <where>
            <if test="id != null ">and project_id = #{id}</if>
        </where>
    </select>

    <insert id="insertMdOaCompleted" parameterType="com.cms.oa.domain.MdOaCompleted" useGeneratedKeys="true"
            keyProperty="id">
        insert into md_oa_completed
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="imgUrl != null">img_url,</if>
            <if test="videoUrl != null">video_url,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="imgUrl != null">#{imgUrl},</if>
            <if test="videoUrl != null">#{videoUrl},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
        </trim>
    </insert>

    <update id="updateMdOaCompleted" parameterType="com.cms.oa.domain.MdOaCompleted">
        update md_oa_completed
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="imgUrl != null">img_url = #{imgUrl},</if>
            <if test="videoUrl != null">video_url = #{videoUrl},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where project_id = #{id}
    </update>

    <delete id="deleteMdOaCompletedById" parameterType="Long">
        delete
        from md_oa_completed
        where project_id = #{id}
    </delete>

    <delete id="deleteMdOaCompletedByIds" parameterType="String">
        delete from md_oa_completed where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>