<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.gzh.mapper.Test01Mapper">

    <resultMap type="com.cms.gzh.domain.Test01" id="Test01ResultMap">
        <result property="id" column="id"/>
        <result property="text" column="text"/>
    </resultMap>

    <insert id="addText" useGeneratedKeys="true" keyProperty="id">
        insert into md_qcgw_gzh.test01 (text)
        values (#{text});
    </insert>
    <update id="updateText">
        update md_qcgw_gzh.test01
        set text = #{text}
        where id = #{id};
    </update>

    <delete id="delById">
        delete
        from md_qcgw_gzh.test01
        where id = #{id};
    </delete>

    <select id="getText" resultMap="Test01ResultMap">
        <if test="text != null and text != ''">
            select id
            from md_qcgw_gzh.test01
            where text = #{text};
        </if>
    </select>
</mapper>
