<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.xh.mapper.MdXhTopicMapper">

    <resultMap type="com.cms.xh.domain.MdXhTopic" id="MdXhTopicResult">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="question" column="question"/>
        <result property="questionOption" column="question_option"/>
        <result property="answer" column="answer"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="selectMdXhTopicVo">
        select id,
               type,
               question,
               question_option,
               answer,
               create_time,
               update_time,
               is_delete
        from md_xh_topic
    </sql>

    <select id="selectMdXhTopicList" parameterType="com.cms.xh.domain.MdXhTopic" resultMap="MdXhTopicResult">
        <include refid="selectMdXhTopicVo"/>
        <where>
        </where>
    </select>

    <select id="selectMdXhTopicById" parameterType="Long" resultMap="MdXhTopicResult">
        <include refid="selectMdXhTopicVo"/>
        where id = #{id}
    </select>

    <insert id="insertMdXhTopic" parameterType="com.cms.xh.domain.MdXhTopic" useGeneratedKeys="true" keyProperty="id">
        insert into md_xh_topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="question != null">question,</if>
            <if test="questionOption != null">question_option,</if>
            <if test="answer != null">answer,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="question != null">#{question},</if>
            <if test="questionOption != null">#{questionOption},</if>
            <if test="answer != null">#{answer},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
        </trim>
    </insert>

    <update id="updateMdXhTopic" parameterType="com.cms.xh.domain.MdXhTopic">
        update md_xh_topic
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="question != null">question = #{question},</if>
            <if test="questionOption != null">question_option = #{questionOption},</if>
            <if test="answer != null">answer = #{answer},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMdXhTopicById" parameterType="Long">
        delete
        from md_xh_topic
        where id = #{id}
    </delete>

    <delete id="deleteMdXhTopicByIds" parameterType="String">
        delete from md_xh_topic where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getAllByTypeAndAnswer" parameterType="long" resultType="com.cms.xh.domain.vo.MdXhTopicTypeAndAnswerVO">
        select type, answer
        from md_xh_topic
        where id = #{topicId};
    </select>
</mapper>
